<h1>Listing crowns</h1>

<table>
<% @crowns.each do |crown| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>
          <%= crown.name %>
        </dt>
        <dd>
          <%= truncate(strip_tags(crown.description), length: 80) %>
        </dd>
      </dl>
    </td>
    <td class="list_actions">
      <%= link_to 'Show', crown %><br/>
      <%= link_to 'Edit', edit_crown_path(crown) %><br/>
      <%= link_to 'Destroy', crown, method: :delete, data: {confirm: 'Are you sure?'} %>
    </td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to 'New crown', new_crown_path %>